.calendarioWrapper {
    display: flex;
    justify-content: center;
    padding: 60px;
}

.tablaCalendario {
    border-collapse: collapse;
    width: 100%;
    max-width: 700px;
    background: white;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 10px 30px rgba(250, 249, 249, 0.1);
    font-family: sans-serif;
    margin: 0 auto;
}

.tablaCalendario th,
.tablaCalendario td {
    width: 14%;
    height: 60px;
}

.tituloMes {
    padding: 15px;
    font-size: 1.2rem;
    font-weight: bold;
    background:linear-gradient(135deg, #0f766e, #0d9488);
    color: white;
}

.tablaCalendario th {
    background-color: #13b484;
    color: white;
    padding: 20px;
    font-size: 0.8rem;
}

.tablaCalendario td {
    border: 1px solid #eee;
    padding: 15px;
    text-align: center;
    color: #2d3436;
}

.hoy {
    background-color: #74b9ff;
    color: white !important;
    font-weight: bold;
}

/* Efecto hover opcional */
.tablaCalendario td:hover:not(:empty) {
    background-color: #f1f2f6;
    cursor: pointer;
}